@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
    width: 80%;
    margin:0 auto;
    background-color:#FFF;
}

#mainFooter {
    height:100px;
    /* border-top:15px; */
    padding-top: 15px;
    background-color:rgb(255, 147, 31);
    color:white;
    font-size:15px;
    /* overflow:auto; */
    text-align:center;
}

h4{
    color:  rgb(42, 41, 121);
    text-align: center;
}

h5{
color:  rgb(62, 62, 65);
text-align: center;
}


/****************************REUSABLE CLASSES*/
.clear {clear:both;}

/*************************RESPONSIVE*/
.responsive {
    width:100%;
    height:auto;
}
/***********************MEDIA QUERIES******/

/*********************************************TABLET*/
@media screen and (max-width:768px) {
	/*LAYOUT*/
#container {
	max-width: 768px;
	width:90%;
}

/*PHONE*/
@media screen and (max-width:480px) {

    #container {
        max-width: 480px;
	    min-width: 300px;
        width:96%;